#menu-0 .navbar-toggler {
  color: #dddddd;
}
#menu-0 .nav-link {
  font-size: 18px;
}
#header4-1 H1 {
  text-align: center;
  font-size: 60px;
}
#header4-1 B {
  font-size: 36px;
}
#header4-1 .btn {
  font-size: 13px;
}
#content1-1r P {
  text-align: center;
}
#menu-1p .navbar-toggler {
  color: #dddddd;
}
#menu-1p .nav-link {
  font-size: 18px;
}
#header4-1q H1 {
  text-align: center;
  font-size: 60px;
}
#header4-1q B {
  font-size: 32px;
  color: #000000;
}
#header4-1q .btn {
  font-size: 15px;
}
#content1-1v P {
  text-align: center;
}
#menu-1p .navbar-toggler {
  color: #dddddd;
}
#menu-1p .nav-link {
  font-size: 18px;
}
#header4-1q H1 {
  text-align: center;
  font-size: 60px;
}
#header4-1q B {
  font-size: 36px;
}
#content1-1v P {
  text-align: center;
}
